{% extends "../layout.njk" %}

{% block head %}
    <title>Cadastrar Usuário | Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block content %}
<div class="wrapper">
    <h1>Criar Usuário</h1>
    <button type="submit" form="createForm">Salvar usuário</button>
</div>

<form id="createForm" action="/admin/users" method="POST">
    {% include "admins/user/fields.njk"%}
</form>

<script src="/scripts.js"></script>
{% endblock content %}
