{% extends "../layout.njk" %}

{% block head %}
    <title>Editar Chef | Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block content %}
<div class="wrapper">
    <h1>Editando Chef</h1>
    <div class="wrapperButtons">
        <button type="submit" form="deleteForm">Deletar</button>
        <button type="submit" form="editForm">Salvar chef</button>
    </div>
</div>

<form id="editForm" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
    {% include "admins/chefs/fields.njk"%}
    <input type="hidden" name="id" value="{{chef.id}}">
</form>

<form id="deleteForm" action="/admin/chefs?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{chef.id}}">
</form>

{% if chef.total_recipes > 0 %}
    <script>
        const deleteForm = document.querySelector("#deleteForm")
        deleteForm.addEventListener("submit", function(event) {
            event.preventDefault()
            alert("Você não pode excluir um chef que tenha receitas registradas")
        })
    </script>
{% endif %}
{% endblock content %}
