{% extends "users/layout.njk" %}

{% block content %}

    <div class="introduction">
        <div id = "introduction-text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
        </div>
        <div class="image-container">
            <img src="/assets/chef.png" alt="">
        </div>
    </div>

    <h1 class="featured">
        Mais Acessadas
    </h1>

    <div class="cards recipes">
        {% for recipe in recipes %}
        {% if loop.index0 < 6 %}
            <div class="card" id="{{recipe.id}}">
                <section style="background: url('{{recipe.img}}') no-repeat center center / cover"></section>
                <div class="card-info">
                    <p class="recipe-title">{{recipe.title}}</p>
                    <p class="recipe-author">por {{recipe.chef_name}}</p>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>

    </section>


    <script src="scripts.js"></script>

{% endblock content %}
